<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AuthenticationSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="AuthenticationSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://oas1.sums.ac.ir:8081/farzinsoft/webservices/OA/Authentication.asmx"
                binding="basicHttpBinding" bindingConfiguration="AuthenticationSoap"
                contract="ServiceReference1.AuthenticationSoap" name="AuthenticationSoap" />
        </client>
    </system.serviceModel>
</configuration>